* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: crimson;
    overflow: hidden;
    color: white;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 800;
    text-shadow: 3px 3px 2px black;
    text-align: center;
}

h2 {
    height: 10vh;
}

nav {
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 30px;
    text-decoration: none;
    color: #e8d6b3;
    text-shadow: 1px 1px 2px black;
}

nav a:hover{
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.617);
}

nav p {
    margin: 30px;
}

nav i {
    margin: 10px;
}

main {
    padding: 25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main p {
    font-size: 20px;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-bottom: 40px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    background-color: #e8d6b3;
    padding: 5px 15px;
    font-size: medium;
    width: 100%;
    color: rgb(81, 23, 23);
    border-radius: 3px;
    cursor: pointer;
}

button {
    background-color: rgb(181, 44, 44);
    color: white;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
}

button:hover {
    background-color: rgb(91, 21, 21);
    cursor: pointer;
    transition: ease all .7s;
}

.questionTitle {
    font-size: x-large;
    margin-bottom: 30px;
}

.listItem {
    margin: 10px;
    font-size: large;
    list-style: none;
}

.listItem:hover {
    background-color: #e5bc69;
}



@media screen and (max-width: 600px){
    h1{
        font-size: 28px;
        margin-bottom: 35px;
    }

    .questionTitle {
        font-size: 23px;
        margin-bottom: 30px;
    }

    main p {
        font-size: 15px;
        width: 90%;
        margin-bottom: 30px;
    }
}